@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This site was built with <a href="https://learn.microsoft.com/aspnet/core">ASP.NET Core</a>.</p>
</div>
